body{
    margin: 0;
    height: 100vh;
}
.header {
    display: flex;
    padding: 20px;
    height: 76px;
    flex-grow: 1;
}
.header-one {
    display: flex;
    font-size: 24px;
    color:#F9FAF8;
    margin-left: 50px;

}
.header-in {
    display: flex;
    font-size: 18px;
    justify-content: flex-end;
    flex-grow: 1;
    color: #E5E7EB;
    gap: 18px;
    margin-right: 100px;
}
.header,
.footer,
.container-one {
    background-color: #1f2937
}
.footer {
    display: flex;
    margin-top: auto;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
}

.container-one {
    display: flex;
    height: 150px;
    flex-grow: 1;
    padding: 20px;
}
.website {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.website-onetitle {
    display: flex;
    font-size: 48px;
    font-weight: 900;
    color: #f9Faf8;
}
.website-onetext {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    flex: 1; 
}
.button-one {
    display: flex;
    width: 100px;
    background-color: #3882f6;
    color: white;
    max-width: 100px;
    border: 2px solid white;
}
.image-one {
    display: flex;
}
.image-onetwo {
    display: flex;
    flex-grow: 1;
    object-fit: contain;
}
.container-two {
    display: flex;
    height: 40px;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    color:#1f2937;
}
.container-twoone {
    display: flex;
    height: 210px;
    flex-direction: row;
    justify-content: space-around;
}
figure {
    display: flex;
    height: 100px;
}
figcaption {
    position: relative;
    top: 100px;
    right: 80px;

}
.container-three {
    display: flex;
    height: 100px;
    padding: 80px;
    background-color: #e5e7eb;
}
.text-threeone:first-child {
    width: 600px;
    justify-content: center;
    margin-left: 130px;
    font-size: 20px;
    font-style: italic;
}
.thor {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}
.container-four {
    display: flex;
    justify-content: center;
}
.container-fourone {
    background-color: #3882f6;
    padding: 10px;
    margin: 50px;
    height: 100px;
}
.button-four {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
}